<header class="topbar">
  <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="#"><img src="assets/img/velocity.png" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav navbar-igeo">
          <li class="nav-item active text-center">
            <i class="fal fa-warehouse-alt"></i>
            <a class="nav-link" href="#">Infraestructura <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item text-center">
            <i class="fal fa-list-ul"></i>
            <a class="nav-link" href="#">Activos</a>
          </li>
          <li class="nav-item text-center">
            <i class="fal fa-list-ul"></i>
            <a class="nav-link" href="#">Solicitudes</a>
          </li>
          <li class="nav-item text-center">
            <i class="fal fa-file-alt"></i>
            <a class="nav-link" href="#">Reportes</a>
          </li>
          <li class="nav-item text-center">
            <i class="fal fa-sensor"></i>
            <a class="nav-link" href="#">IOT</a>
          </li>
          <li class="nav-item text-center">
            <i class="fal fa-user-shield"></i>
            <a class="nav-link" href="#">Administración</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto mr-md-3 navbar-user">
            <li class="nav-item dropdown align-self-end text-center">
              <i class="fal fa-user"></i>
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Herman Vega
              </a>
              <div class="dropdown-menu text-left" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
        </ul>
      </div>
    </nav>
</header>

