
/* Buttons */

.btn {
    transition: all .3s ease-out;
}

.btn-sm-igeo {
    padding: .5625rem 1.5625rem;
    font-size: .8125rem;
    line-height: 1.5;
    border-radius: .3125rem;
}

/* Checks */

.container_check input:checked ~ .checkmark {
    background-color: $primary-green;
}


/* Header */

header {
    padding: 22px 0;
}


/* Navbar */

.navbar {
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.navbar-brand {
    margin-right: 0;
    display: inline-block;
    width: 240px;
    text-align: center;
}