/* Igeo Styles */

body {
    // background: linear-gradient(180deg, #FFFFFF 0%, rgba(207, 86, 86, 0) 100%), #F97500;
    // mix-blend-mode: multiply;
}

#start {
    background-color: $primary-light;
}

.content-left-wrapper {
    background-image: url('assets/img/hero.png');
    background-position: 0 0;
    background-size: cover;
}

#main-wrapper {
    width: 100%;
    overflow: hidden;
}

.page-wrapper {
    background: $primary-light;
    padding-bottom: 60px;
    position: relative;
    border-left: 1px solid $border-grey;
}


@media (min-width: 1024px) {
    .page-wrapper {
        margin-left: 240px;
    }
}