/* Igeo Styles */

body {
    // background: linear-gradient(180deg, #FFFFFF 0%, rgba(207, 86, 86, 0) 100%), #F97500;
    // mix-blend-mode: multiply;
}

#start {
    background-color: #fff;
}

.content-left-wrapper {
    background-image: url('assets/img/hero.png');
    background-position: 0 0;
    background-size: cover;
}