/* Typography Igeo */

body {
    font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

a {
    color: $primary-blue;
}

label {
    font-size: .75rem;
    color: $secondary-grey;
}