/* Variables Igeo App */

$primary-orange: #ed7511;
$primary-red: #EB5757;
$primary-green: #27AE60;
$primary-grey: #777;
$primary-blue: #2F80ED;
$primary-light: #FFF;


$secondary-grey: #999;
$secondary-orange: #F97500;

$border-grey: #DDD;

/* Value Colors */

$primary-orange-50: rgba(237, 117, 17, 0.5);
$primary-light-20: rgba(255, 255, 255, 0.2);

