/* Variables Igeo App */

$primary-orange: #ED7511;
$primary-red: #EB5757;
$primary-green: #27AE60;
$primary-grey: #777;
$primary-blue: #2F80ED;


$secondary-grey: #999;
$secondary-orange: #F97500;


