<aside class="left-sidebar">
    <button type="button" class="btn-collapse">
        <i class="far fa-angle-right"></i>
    </button>
    <ul class="node-list">
        <li class="node"  routerLinkActive="active" *ngFor="let menu of sidebar.menu">
            <div class="node-data">
                <span class="node-name" [routerLink]="[menu.url]">
                    <i [class]="menu.icono"></i>
                    {{ menu.propiedad }}
                </span>
                <span class="node-address">{{ menu.direccion }}</span>
            </div>
            <ul class="sub-node-list">
                <li class="sub-node" routerLinkActive="active" *ngFor="let submenu of menu.submenu">
                    <span class="sub-node-data" [routerLink]="[submenu.url]">
                        {{ submenu.subpropiedad }}
                    </span>
                </li>
            </ul>
        </li>
    </ul>
    <div class="footer-sidebar">
        <img src="assets/img/logo.png" alt="">
    </div>
</aside>
