@import '../../../styles/variables';


.fix-sidebar .left-sidebar {
    position: fixed;
}

.left-sidebar {
    position: absolute;
    width: 240px;
    height: calc(100% - 100px);
    top: 0px;
    z-index: 20;
    margin-top: 100px;
    background: #fff;
    -webkit-box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
}