<aside class="left-sidebar">
    <ul class="node-list">
        <li class="node active">
            <div class="node-data">
                <span class="node-name">
                    <i class="fas fa-university"></i>
                    Campus 1
                </span>
                <span class="node-address">Blanco Encalada 2020</span>
            </div>
            <ul class="sub-node-list">
                <li class="sub-node">
                    <span class="sub-node-data">
                        Propiedad 1
                    </span>
                </li>
                <li class="sub-node">
                    <span class="sub-node-data">
                        Propiedad 1
                    </span>
                </li>
                <li class="sub-node">
                    <span class="sub-node-data">
                        Propiedad 1
                    </span>
                </li>
            </ul>
        </li>
        <li class="node">
            <div class="node-data">
                <span class="node-name">
                    <i class="fas fa-university"></i>
                    Campus 2
                </span>
                <span class="node-address">Blanco Encalada 2020</span>
            </div>
        </li>
    </ul>
    <div class="footer-sidebar">
        <img src="assets/img/logo.png" alt="">
    </div>
</aside>
