<!-- <div class="jumbotron">
    <h1 class="display-4">Bienvenido a IGEO!</h1>
    <p class="lead">IGEO EN COSTRUCCION...</p>
    <hr class="my-4">
    <p>Próximamente te contactaremos a {{loggedUser}}</p>
    <a class="btn btn-success btn-lg" href="#" role="button" (click)="logOut()" *ngIf="loggenIn">Salir</a>
  </div> -->

  <div class="banner">
    <div class="cont-qr">
      <img src="assets/img/qr.png" alt="">
          
    </div>
    <div class="name-institution">
      <h1>Nombre Institución</h1>
    </div>
    <hr>
  </div>

  <div class="vineta">
      <i class="fal fa-long-arrow-right"></i> <span>Estadísticas</span>  
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col text-center">
        <div class="card h-100 card-stats">
          <div class="card-body">
            <img src="../../../assets/img/graph1.png" alt="">
          </div>
        </div>
      </div>
      <div class="col-6 text-center">
        <div class="card card-stats">
          <div class="card-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col">
                  <img src="../../../assets/img/graph2.png" alt="">
                </div>
                <div class="col">
                  <img src="../../../assets/img/graph3.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col text-center">
        <div class="card h-100 card-stats">
          <div class="card-body">
            <img src="../../../assets/img/graph1.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="vineta">
    <i class="fal fa-long-arrow-right"></i> <span>Campus</span>  
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <div class="card card-place">
        <div class="img-place">
          <img src="../../../assets/img/campus.jpg" class="card-img-top" alt="Campus 1">
        </div>
        <div class="card-body">
          <h5 class="card-title">Campus 1</h5>
          <hr>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <div class="card-footer">
          <span class="area-place">
            <i class="fal fa-ruler-triangle"></i>  240 mts2
          </span>  
          <span class="properties">
            <i class="fal fa-building"></i> 100 Recintos
          </span>
        </div>
      </div>
    </div>
  </div>
</div>